data/*
tfmenv/*
src/volatility_models/trained_models/*
src/volatility_models/trained_metadata/*
src/dashboard/saved_models/*
*.csv
__pycache__/
terraform/terraform_aws/.terraform*
terraform/terraform_gcp/.terraform*